html,
body {
  font-family: "Inter", sans-serif;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  font-size: 18px;
  overflow-x: hidden; }

.action_tray_show {
  display: flex !important;
  justify-content: space-around;
  -webkit-transition: left 0.2 ease;
  transition: left 0.2 ease; }

.hide {
  display: none; }

.change_grid_display {
  grid-template-columns: 0.3fr 0.7fr !important; }

.change_content_j {
  -webkit-box-pack: space-evenly;
  justify-content: space-evenly; }

header {
  padding: 1em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-row-gap: 0px;
  grid-column-gap: 0.2em;
  font-size: 16px;
  background: #f3f3f3; }
  @media screen and (min-width: 376px) and (max-width: 900px) {
    header {
      font-size: 18px; } }
  @media screen and (min-width: 900px) {
    header {
      font-size: 24px; } }
  header div {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: 100%; }
  header .refresh_message {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: end;
    justify-content: flex-end; }

#container {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0; }

.active_display .module_selection_section {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.1fr 0.9fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  padding: 1em;
  margin-bottom: 1em; }
  .active_display .module_selection_section .action_tray {
    margin-top: auto;
    margin-bottom: auto;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    text-align: center; }
    .active_display .module_selection_section .action_tray input {
      background: #eeeeee;
      padding-left: 1em;
      height: 2em;
      border: none;
      width: 70%;
      border-radius: 36px;
      margin-right: 0.5em;
      font-size: 20px; }
      @media screen and (min-width: 900px) {
        .active_display .module_selection_section .action_tray input {
          font-size: 24px; } }
    .active_display .module_selection_section .action_tray button {
      background: white;
      padding: 0.5em;
      height: -webkit-fit-content;
      height: -moz-fit-content;
      height: fit-content;
      width: -webkit-fit-content;
      width: -moz-fit-content;
      width: fit-content;
      border: none;
      display: none; }
      .active_display .module_selection_section .action_tray button img {
        height: 1.5em;
        width: 1.5em; }
        @media screen and (min-width: 376px) and (max-width: 900px) {
          .active_display .module_selection_section .action_tray button img {
            height: 2em;
            width: 2em; } }
        @media screen and (min-width: 900px) {
          .active_display .module_selection_section .action_tray button img {
            height: 2.5em;
            width: 2.5em; } }

.active_display .module_section {
  display: block; }

.active_display .module_selection {
  grid-area: 1 / 2 / 2 / 3;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  text-align: center;
  height: 80vh; }
  .active_display .module_selection .module_action_tray {
    display: none; }
    @media screen and (min-width: 800px) {
      .active_display .module_selection .module_action_tray {
        display: flex; } }
    .active_display .module_selection .module_action_tray input {
      border: 1px solid black; }
    .active_display .module_selection .module_action_tray .update_button {
      height: auto;
      width: auto;
      background: white;
      border: none; }
    .active_display .module_selection .module_action_tray img {
      height: 1em;
      width: 1em; }
  .active_display .module_selection .module_name {
    margin: auto auto auto auto;
    display: grid;
    grid-template-columns: 2fr 0.3fr;
    grid-template-rows: 1fr;
    grid-column-gap: 1em;
    grid-row-gap: 0px;
    width: 70%;
    -webkit-box-pack: end;
    justify-content: flex-end; }
    .active_display .module_selection .module_name .sub {
      background: white;
      padding: 0.5em;
      margin-right: 1em;
      font-size: 14px;
      border: none;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.13);
      width: 100%;
      border-radius: 36px; }
      @media screen and (min-width: 900px) {
        .active_display .module_selection .module_name .sub {
          font-size: 24px;
          padding: 1em; } }
      @media screen and (min-width: 376px) and (max-width: 900px) {
        .active_display .module_selection .module_name .sub {
          font-size: 20px; } }
    .active_display .module_selection .module_name .delete_button, .active_display .module_selection .module_name .edit_button {
      margin-top: auto;
      background: white;
      border: none;
      margin-bottom: auto;
      margin-left: auto;
      -webkit-box-pack: end;
      justify-content: flex-end;
      padding: 1em; }
      .active_display .module_selection .module_name .delete_button img, .active_display .module_selection .module_name .edit_button img {
        height: 1.5em;
        width: 1.5em; }
        @media screen and (min-width: 900px) {
          .active_display .module_selection .module_name .delete_button img, .active_display .module_selection .module_name .edit_button img {
            height: 2em;
            width: 2em; } }
  .active_display .module_selection .view_options {
    height: 1.5em;
    width: 1.5em;
    margin-bottom: auto;
    margin-top: auto; }
    @media screen and (min-width: 800px) {
      .active_display .module_selection .view_options {
        display: none; } }

.view_tasks_section {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.1fr 2fr 0.1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px; }
  @media screen and (min-width: 900px) {
    .view_tasks_section {
      grid-row-gap: 4em; } }
  .view_tasks_section .refresh_status {
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
    vertical-align: middle;
    font-size: 1em; }
    .view_tasks_section .refresh_status .status_message {
      color: black;
      font-size: 16px; }
      @media screen and (min-width: 900px) {
        .view_tasks_section .refresh_status .status_message {
          font-size: 32px; } }
      @media screen and (min-width: 376px) and (max-width: 900px) {
        .view_tasks_section .refresh_status .status_message {
          font-size: 24px; } }
    .view_tasks_section .refresh_status .icon {
      height: 1em;
      width: 1em;
      padding: 1em;
      padding: 0; }
  .view_tasks_section .swiper-wrapper {
    width: 100vw;
    padding: 1em; }
    .view_tasks_section .swiper-wrapper .task_wrapper {
      padding: 1em;
      margin-top: 10em;
      height: 50vh;
      width: 80vw;
      border-radius: 5%;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 0.1fr repeat(2, 1fr) 0.1fr;
      grid-column-gap: 0px;
      grid-row-gap: 0.5em;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.13); }
      @media screen and (min-width: 900px) {
        .view_tasks_section .swiper-wrapper .task_wrapper {
          width: 25vw;
          margin-top: auto;
          margin-bottom: auto; } }
      @media screen and (min-width: 600px) and (max-width: 900px) {
        .view_tasks_section .swiper-wrapper .task_wrapper {
          width: 40vw; } }
      .view_tasks_section .swiper-wrapper .task_wrapper .top_task_section {
        display: grid;
        grid-template-columns: 1fr 0.1fr;
        grid-template-rows: 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px; }
        .view_tasks_section .swiper-wrapper .task_wrapper .top_task_section .task_name_wrap div {
          height: -webkit-fit-content;
          height: -moz-fit-content;
          height: fit-content;
          width: -webkit-fit-content;
          width: -moz-fit-content;
          width: fit-content; }
      .view_tasks_section .swiper-wrapper .task_wrapper .middle_task_section {
        display: -webkit-box;
        display: flex;
        text-align: center;
        -webkit-box-align: center;
        align-items: center;
        font-size: 24px;
        font-weight: bold; }
        .view_tasks_section .swiper-wrapper .task_wrapper .middle_task_section p {
          text-align: center;
          margin-left: auto;
          margin-right: auto;
          font-size: 1em; }
      .view_tasks_section .swiper-wrapper .task_wrapper .bottom_task_section div {
        height: auto;
        width: auto; }
      .view_tasks_section .swiper-wrapper .task_wrapper .delete_task_section {
        display: -webkit-box;
        display: flex;
        -webkit-box-pack: end;
        justify-content: flex-end; }
        .view_tasks_section .swiper-wrapper .task_wrapper .delete_task_section button {
          border-radius: 50%;
          background: inherit;
          border: none;
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.13); }
          .view_tasks_section .swiper-wrapper .task_wrapper .delete_task_section button img {
            padding: 0.5em;
            height: 2em;
            width: 2em; }

.full_overlay_container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.1fr 1fr 0.1fr;
  grid-column-gap: 0px;
  grid-row-gap: 1em;
  height: 100vh;
  width: auto; }
  .full_overlay_container .cancel_navigation_section {
    display: grid;
    grid-template-columns: 1fr 0.1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px; }
    .full_overlay_container .cancel_navigation_section .status_updates_wrapper {
      padding-top: 1em; }
      .full_overlay_container .cancel_navigation_section .status_updates_wrapper .status_message {
        padding-left: 1em;
        font-size: 16px;
        color: red; }
        @media screen and (min-width: 900px) {
          .full_overlay_container .cancel_navigation_section .status_updates_wrapper .status_message {
            font-size: 32px; } }
        @media screen and (min-width: 376px) and (max-width: 900px) {
          .full_overlay_container .cancel_navigation_section .status_updates_wrapper .status_message {
            font-size: 24px; } }
    .full_overlay_container .cancel_navigation_section button {
      padding: 0.5em;
      background: white;
      border: none;
      font-size: 16px;
      border: 1px solid black;
      color: black;
      border: none;
      padding: 0;
      width: auto;
      height: auto;
      margin-top: auto; }
      .full_overlay_container .cancel_navigation_section button img {
        width: 1em;
        height: 1em;
        padding: 0; }
  .full_overlay_container .edit_task_section {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    height: auto;
    margin: 1em; }
    @media screen and (min-width: 375px) and (max-width: 900px) {
      .full_overlay_container .edit_task_section {
        margin: 2em; } }
    @media screen and (min-width: 900px) {
      .full_overlay_container .edit_task_section {
        margin-left: auto;
        margin-right: auto; } }
    .full_overlay_container .edit_task_section div {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 0.2fr 1fr;
      grid-column-gap: 0px;
      grid-row-gap: 0px; }
    .full_overlay_container .edit_task_section textarea,
    .full_overlay_container .edit_task_section input {
      font-family: "Inter", sans-serif;
      font-size: 16px;
      padding-top: 0px;
      padding-left: 0px;
      margin: 0px;
      line-height: 1em;
      resize: none;
      background-color: white; }
    .full_overlay_container .edit_task_section textarea {
      padding-top: 0.5em; }
    .full_overlay_container .edit_task_section textarea,
    .full_overlay_container .edit_task_section input,
    .full_overlay_container .edit_task_section select {
      border: 1px solid black;
      padding-left: 1em; }
    @media screen and (min-width: 900px) {
      .full_overlay_container .edit_task_section {
        width: 70%; } }
  .full_overlay_container div {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content; }
  .full_overlay_container .footer_bottom {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: end;
    justify-content: flex-end;
    padding-right: 1em; }
    .full_overlay_container .footer_bottom .done_button_wrapper button {
      padding: 0.5em;
      background: white;
      border: none;
      font-size: 16px;
      border: 1px solid black;
      color: black;
      padding: 1em; }

.active_footer {
  padding: 1em;
  position: relative; }

footer {
  margin: 0;
  padding: none; }
  footer .save_section {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: right;
    justify-content: flex-end;
    position: relative;
    -webkit-box-pack: end; }
    footer .save_section button {
      padding: 0.5em;
      background: white;
      border: none;
      font-size: 16px;
      border: 1px solid black;
      color: black; }
      @media screen and (min-width: 900px) {
        footer .save_section button {
          font-size: 24px; } }
  footer .add_item_wrapper {
    display: -webkit-box;
    display: flex;
    justify-content: space-around; }
    footer .add_item_wrapper button {
      width: auto;
      height: auto;
      background: white;
      border: none; }
      footer .add_item_wrapper button img {
        padding: 1em; }
    footer .add_item_wrapper .back_button {
      border: none; }
      footer .add_item_wrapper .back_button img {
        height: 3em;
        width: 3em;
        border: none;
        padding: none; }
