html,
body {
  font-family: "Inter", sans-serif;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  font-size: 18px;
  overflow-x: hidden;
}

*:focus{
  border:none;
}

@mixin showDivs() {
  div {
    border: 1px solid red;
  }
}

@mixin putToRight() {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: end;
  justify-content: flex-end;
}

@mixin buttonDesign() {
  padding: 0.5em;
  background: white;
  border: none;
  font-size: 16px;
  border: 1px solid black;
  color: black;
}

@mixin iconStyling {
  height: 1em;
  width: 1em;
  padding: 1em;
}

@mixin inputStyle {
  background: #eeeeee;
  padding-left: 1em;
  height: 2em;
  border: none;
  width: 70%;
  border-radius: 36px;
  margin-right: 0.5em;
  font-size: 16px;

  @media screen and (min-width: 376px) and (max-width: 800px) {
    font-size: 24px;
  }

  @media screen and (min-width: 800px) {
    font-size: 26px;
  }
}

.action_tray_show {
  display: -webkit-box !important;
  display: flex !important;
  justify-content: space-around;
}

.hide {
  display: none;
}
.change_grid_display {
  grid-template-columns: 0.1fr 1.5fr !important;
}

.change_content_j {
  -webkit-box-pack: space-evenly;
  justify-content: space-evenly;
}
//HEADER
header {
  padding: 1em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-row-gap: 0px;
  grid-column-gap: 0.2em;
  font-size: 16px;
  background: #f3f3f3;
  @media screen and (min-width: 376px) and (max-width: 800px) {
    font-size: 18px;
  }

  @media screen and (min-width: 800px) {
    font-size: 24px;
  }
  div {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: 100%;
  }

  .refresh_message {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: end;
    justify-content: flex-end;
  }
}

//CONTAINER
#container {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.active_display {
  .module_selection_section {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 0.9fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    padding: 1em;

    .action_tray {
      margin-top: auto;
      margin-bottom: auto;
      display: -webkit-box;
      display: flex;
      -webkit-box-pack: center;
      justify-content: center;
      text-align: center;

      input {
        @include inputStyle();
      }

      button {
        background: white;
        padding: 0.5em;
        height: -webkit-fit-content;
        height: -moz-fit-content;
        height: fit-content;
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;
        border: none;
        display: none;

        img {
          height: 1.5em;
          width: 1.5em;

          @media screen and (min-width: 376px) and (max-width: 800px) {
            height: 2em;
            width: 2em;
          }

          @media screen and (min-width: 800px) {
            height: 2.5em;
            width: 2.5em;
          }
        }
      }
    }
    margin-bottom: 1em;
  }
  .module_section {
    display: block;

    //need to change styling of checkbox
  }
  .module_selection {
    grid-area: 1 / 2 / 2 / 3;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    text-align: center;
    height: 80vh;

    .module_action_tray {
      display: none;

      @media screen and (min-width: 800px) {
        display: -webkit-box;
        display: flex;
      }

      input {
        margin-top: auto;
        margin-bottom: auto;
        @include inputStyle();
      }

      .update_button {
        height: auto;
        width: auto;
        background: white;
        border: none;
      }
      img {
        height: 1em;
        width: 1em;

        @media screen and (min-width: 800px) {
          height: 2em;
          width: 2em;
        }
      }
    }

    .module_name {
      margin: auto auto auto auto;
      display: grid;
      grid-template-columns: 2fr 0.3fr;
      grid-template-rows: 1fr;
      grid-column-gap: 1em;
      grid-row-gap: 0px;
      width: 70%;

      @media screen and (min-width: 800px) {
        grid-template-columns: 0.7fr 0.5fr;
      }

      .sub {
        background: white;
        padding: 0.5em;
        margin-right: 1em;
        font-size: 14px;
        border: none;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.13);
        width: 100%;
        border-radius: 36px;
        @media screen and (min-width: 800px) {
          font-size: 24px;
          padding: 1em;
        }

        @media screen and (min-width: 376px) and (max-width: 800px) {
          font-size: 20px;
        }
      }

      -webkit-box-pack: end;

      justify-content: flex-end;
      .delete_button,
      .edit_button {
        margin-top: auto;
        background: white;
        border: none;
        margin-bottom: auto;
        margin-left: auto;
        -webkit-box-pack: end;
        justify-content: flex-end;
        padding: 1em;
        img {
          height: 1.5em;
          width: 1.5em;

          @media screen and (min-width: 800px) {
            height: 2em;
            width: 2em;
          }
        }
      }
    }
    .view_options {
      height: 1em;
      width: 1em;
      margin-bottom: auto;
      margin-top: auto;

      @media screen and (min-width: 800px) {
        display: none;
      }
    }
  }
}

//VIEW TASKS
.view_tasks_section {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.1fr 2fr 0.1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  @media screen and (min-width: 800px) {
    grid-row-gap: 4em;
  }

  .refresh_status {
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
    vertical-align: middle;
    font-size: 1em;
    .status_message {
      color: black;
      font-size: 16px;
      @media screen and (min-width: 800px) {
        font-size: 32px;
      }
      @media screen and (min-width: 376px) and (max-width: 800px) {
        font-size: 24px;
      }
    }

    .icon {
      @include iconStyling();
      padding: 0;
    }
  }
  .swiper-wrapper {
    width: 100vw;
    padding: 1em;

    .task_wrapper {
      padding: 1em;
      margin-top: 10em;
      height: 50vh;
      width: 80vw;
      @media screen and (min-width: 800px) {
        width: 25vw;
        margin-top: auto;
        margin-bottom: auto;
      }

      @media screen and (min-width: 600px) and (max-width: 800px) {
        width: 40vw;
      }

      border-radius: 5%;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 0.1fr repeat(2, 1fr) 0.1fr;
      grid-column-gap: 0px;
      grid-row-gap: 0.5em;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.13);
      // box-shadow:  8px 8px 16px #d9d9d9,
      //          -8px -8px 16px #ffffff;
      .top_task_section {
        display: grid;
        grid-template-columns: 1fr 0.1fr;
        grid-template-rows: 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        .task_name_wrap {
          div {
            height: -webkit-fit-content;
            height: -moz-fit-content;
            height: fit-content;
            width: -webkit-fit-content;
            width: -moz-fit-content;
            width: fit-content;
          }
        }
      }
      .middle_task_section {
        display: -webkit-box;
        display: flex;
        //Text needs to be centrally aligned
        text-align: center;
        -webkit-box-align: center;
        align-items: center;
        font-size: 24px;
        font-weight: bold;
        p {
          text-align: center;
          margin-left: auto;
          margin-right: auto;
          font-size: 1em;
        }
      }
      .bottom_task_section {
        div {
          height: auto;
          width: auto;
        }
      }

      .delete_task_section {
        display: -webkit-box;
        display: flex;
        // -webkit-box-pack: end;
        // justify-content: flex-end;
        button {
          border-radius: 50%;
          background: inherit;
          border: none;
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.13);
          img {
            padding: 0.5em;
            height: 2em;
            width: 2em;
          }
        }
        .delete_task{
          position: relative;
          right: 0;
          //background-color:;
        }
        .edit_task{
          position: relative;
          left:65%;
        }
      }
    }
  }
}

//FULL SCREEN OVERLAY
.full_overlay_container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.1fr 1fr 0.1fr;
  grid-column-gap: 0px;
  grid-row-gap: 1em;
  height: 100vh;
  width: auto;
  .cancel_navigation_section {
    display: grid;
    grid-template-columns: 1fr 0.1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;

    .status_updates_wrapper {
      padding-top: 1em;
      .status_message {
        padding-left: 1em;
        font-size: 16px;
        color: red;

        @media screen and (min-width: 800px) {
          font-size: 32px;
        }
        @media screen and (min-width: 376px) and (max-width: 800px) {
          font-size: 24px;
        }
      }
    }

    button {
      //background: red;
      img {
        width: 1em;
        height: 1em;
        padding: 0;
      }
      @include buttonDesign();
      border: none;
      padding: 0;
      width: auto;
      height: auto;
      margin-top: auto;
    }
  }
  .edit_task_section {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    height: auto;
    margin: 1em;
    @media screen and (min-width: 375px) and (max-width: 800px) {
      margin: 2em;
    }

    @media screen and (min-width: 800px) {
      margin-left: auto;
      margin-right: auto;
    }
    div {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 0.2fr 1fr;
      grid-column-gap: 0px;
      grid-row-gap: 0px;
    }
    textarea,
    input {
      font-family: "Inter", sans-serif;
      font-size: 16px;
      padding-top: 0px;
      padding-left: 0px;
      margin: 0px;
      line-height: 1em;
      resize: none;
      background-color: #eeeeee;
      border-radius: 36px;
    }

    textarea {
      padding-top: 1em;
    }

    textarea,
    input,
    select {
      border: none;
      padding-left: 1em;
    }

    @media screen and (min-width: 800px) {
      width: 70%;
    }

    select {
      background-color: #eeeeee;
      border-radius: 36px;
      border: 0;
      outline: 0;

      option {
        border: none;
      }
    }
  }
  div {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .footer_bottom {
    @include putToRight();
    padding-right: 1em;
    .done_button_wrapper {
      button {
        @include buttonDesign();
        padding: 1em;
      }
    }
  }
}

//FOOTER CSS
.active_footer {
  padding: 1em;
  position: relative;
}

footer {
  margin: 0;
  padding: none;
  .save_section {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: right;
    justify-content: flex-end;
    position: relative;
    -webkit-box-pack: end;
    button {
      @include buttonDesign();
      @media screen and (min-width: 800px) {
        font-size: 24px;
      }
    }
  }
  .add_item_wrapper {
    display: -webkit-box;
    display: flex;
    justify-content: space-around;
    button {
      width: auto;
      height: auto;
      background: white;
      border: none;
      img {
        padding: 1em;
      }
    }

    .back_button {
      border: none;
      img {
        height: 3em;
        width: 3em;
        border: none;
        padding: none;
      }
    }
  }
}
