html,
body {
  font-family: "Inter", sans-serif;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  font-size: 18px;
  overflow-x: hidden;
}

@mixin showDivs() {
  div {
    border: 1px solid red;
  }
}

@mixin putToRight() {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: end;
  justify-content: flex-end;
}

@mixin buttonDesign() {
  padding: 0.5em;
  background: white;
  border: none;
  font-size: 16px;
  border: 1px solid black;
  color: black;
}

@mixin iconStyling {
  height: 1em;
  width: 1em;
  padding: 1em;
}


//HEADER
header {
  padding: 1em;
  div {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
}

//CONTAINER
#container {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.active_display {
  //MODULE SELECTION
  .module_selection_section {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 0.9fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    padding: 1em;
    .action_tray {
      display: -webkit-box;
      display: flex;
      -webkit-box-pack: end;
      justify-content: flex-end;
      div {
        height: 2em;
        width: 2em;
        img {
          height: inherit;
          width: inherit;
        }
      }
      margin-bottom: 1em;
    }
    .module_section {
      display: grid;
      grid-template-columns: 0.1fr 1fr;
      grid-template-rows: 1fr;
      grid-column-gap: 0px;
      grid-row-gap: 0px;
      //need to change styling of checkbox
      .checkbox {
        input {
          -webkit-transform: scale(1.8);
          transform: scale(1.8);
        }
      }
    }
    .edit_delete_checkbox {
      grid-area: 1 / 1 / 2 / 2;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(6, 1fr);
      grid-column-gap: 0px;
      grid-row-gap: 0px;
      div {
        padding: 2em;
      }
    }
    .module_selection {
      grid-area: 1 / 2 / 2 / 3;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(6, 1fr);
      grid-column-gap: 0px;
      grid-row-gap: 0px;
      div {

        button{
            background: white;
            border:1px solid black;
            padding:1.5em;
            font-size: 14px;
        }
      }
    }
  }
}

//VIEW TASKS
.view_tasks_section {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.1fr 2fr 0.1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  .refresh_status {
      text-align: center;
      padding-top: 1em;
      vertical-align: middle;
      font-size: 1em;
    .icon {
      @include iconStyling();
      padding: 0;
    }
  }
  .swiper-wrapper{
      width: auto;
  .task_wrapper {
    padding:1em;
    margin-top: 10em;
    height: 50vh;
    width: 90vw;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0.5em;
    .top_task_section {
      display: grid;
      grid-template-columns: 1fr 0.1fr;
      grid-template-rows: 1fr;
      grid-column-gap: 0px;
      grid-row-gap: 0px;
      .task_name_wrap {
        div {
          height: -webkit-fit-content;
          height: -moz-fit-content;
          height: fit-content;
          width: -webkit-fit-content;
          width: -moz-fit-content;
          width: fit-content;
        }
      }

    }
      .middle_task_section {
        display: -webkit-box;
        display: flex;
      }
      .bottom_task_section {
        div {
          height: auto;
          width: auto;
        }
      }
    
  }
}
}

//FULL SCREEN OVERLAY
.full_overlay_container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.1fr 1fr 0.1fr;
  grid-column-gap: 0px;
  grid-row-gap: 1em;
  height: 100vh;
  width: auto;
  .cancel_navigation_section {
    display: grid;
    grid-template-columns: 1fr 0.1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    
    .status_updates_wrapper {
      .status_message {
        padding-left: 1em;
        font-size: 14px;
        color: red;
      }

    }

    button{
      //background: red;
      @include buttonDesign();
      width: auto;
      height: auto;      
    }
  }
  .edit_task_section {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    height: auto;
    margin: 1em;
    div {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 0.2fr 1fr;
      grid-column-gap: 0px;
      grid-row-gap: 0px;
    }
    textarea,
    input {
      font-family: "Inter", sans-serif;
      font-size: 16px;
      padding-top: 0px;
      padding-left: 0px;
      margin: 0px;
      line-height: 1em;
    }
  }
  div {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .footer_bottom {
    @include putToRight();
    padding-right: 1em;
    .done_button_wrapper {
      button {
        @include buttonDesign();
      }
    }
  }
}

//FOOTER CSS
.active_footer {
  padding: 1em;
  position: relative;
}

footer {
  margin: 0;
  padding: none;
  .save_section {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: right;
    justify-content: flex-end;
    position: relative;
    -webkit-box-pack: end;
    button {
      @include buttonDesign();
    }
  }
  .add_item_wrapper {
    margin-right: 1em;
    @include putToRight();
    button {
      width: auto;
      height: auto;
      background: white;
      border: 1px solid black;
      img {
        height: 1em;
        width: 1em;
        padding: 1em;
      }
    }
  }
}

.add_item_wrapper {
  margin-right: 1em;
  @include putToRight();
}
